@font-face {
    font-family: minecraft-font;
    src: url("minecraft-font.ttf");
}

html, body, .max-height {
    height: 100%;
}

.app {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo {
    width: 100%;
}

.head-spacer{
    height: 15%;
}

.row-spacer{
    height: 50%;
}

.main-column{
    height: 100%;
}

.main-row{
    height: auto;
}

.nav-bar-row{
    margin-top: 5%;
}

.navbar{
    width: 70%;
}

.navbar-element{
    background-color: rgba(123,123,123,0.5);
    border-color: rgba(123,123,123,0.4);
    width: 25%;
    height: 13%;
    font-size: 2em !important;
    font-family: minecraft-font, serif !important;
    padding: 1% !important;
    text-align: center !important;
}

.navbar-element:hover{
    background-color: rgba(123,123,123,1);
    border-color: rgba(123,123,123,1);
}

.terms{
    font-size: 2em !important;
    font-family: minecraft-font, serif !important;
    color: white;
}

.terms:hover{
    color: lightgray;
}

/* Style all font awesome icons */
.fab {
    padding: 1.2%;
    font-size: 150%;
    width: 5%;
    height: 5%;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin: 3px;
}

/* Add a hover effect if you want */
.fab:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-instagram {
    background: crimson;
    color: white;
}

.fa-telegram {
    background: #55ACEE;
    color: white;
}

.fa-steam {
    background: dimgrey;
    color: white;
}

.fa-discord {
    background: cornflowerblue;
    color: white;
}

.fa-reddit {
    background: #ff6f00;
    color: white;
}

.fa-youtube {
    background: red;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

@media (max-width: 800px) {

    .logo{
        width: 50%;
    }

    .fab{
        font-size: 100%;
        padding: 0.5%;
    }
    .navbar-element{
        font-size: 80% !important;
    }
}

@media (max-width: 400px) {
    .fab{
        font-size: 80%;
        padding: 2px;
    }

    .navbar-element{
        font-size: 80% !important;
    }
}
